base03 = #002b36
base02 = #073642 
base01 = #586e75
base00 = #657b83
base0 = #839496
base1 = #93a1a1
base2 = #eee8d5 
base3 = #fdf6e3
yellow = #b58900 
orange = #cb4b16
red = #dc322f
magenta = #d33682
violet = #6c71c
blue = #268bd2
cyan = #2aa198
green = #859900

base-font-family = Menlo, Monaco, Consolas, "Courier New", monospace
base-line-height = 1.428571429
base-font-size = 14px
header-base-font-size = 20px

body
  background: base03
  font-family: base-font-family
  line-height = base-line-height
  font-size: base-font-size
  color: base0
h1, h2, h3, h4, h5, h6, b, i, u, .b, .i, .u
  color: base1
h1
  font-size: header-base-font-size*2
h2
  font-size: header-base-font-size*1.5
h3
  font-size: header-base-font-size*1.17
h4
  font-size: header-base-font-size*1.12
h5
  font-size: header-base-font-size*0.83
h6
  font-size: header-base-font-size*0.75
.b, .bold
  font-weight: bold
.i, .italic
  font-style: italic
.u, .underline
  text-decoration: underline
.btn
  font-family: base-font-family
  height: base-font-size*2
  border-radius: 3px
  border: 0
  color: base2
  margin: 3px
.btn-default
  background: base0
.btn-primary
  background: blue
.btn-success
  background: green
.btn-warning
  background: yellow
.btn-danger
  background: red
a
  text-decoration: none
  color: magenta
a:hover
  color: blue
.text-primary
  color: blue
.text-success
  color: green
.text-warning
  color: yellow
.text-danger
  color: red
code
  background: base02
  font-weight: bolder
  padding: 7px
  border-radius: 4px
  line-height: base-line-height**base-line-height
.text-25
  width: 25%
.text-50
  width: 50%
.text-75
  width: 75%
.text-100
  width: 100%
blockquote
  background: base02
  border-left: 10px solid base01
  margin: 1.5em 10px
  padding: 0.5em 10px
  display: inline-block
blockquote p
  display: inline